<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles/vendor/bootstrap4.5.3/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
    <script th:src="@{/js/vendor/bootstrap4.5.3/bootstrap.bundle.min.js}" defer></script>
</head>
<body>
<main class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Design your taco!</h1>
        <img th:src="@{/images/TacoCloud.png}" />

        <form method="POST" th:object="${design}" >
            <div class="form-group">
                <span class="validationError"
                      th:if="${#fields.hasErrors('ingredients')}"
                      th:errors="*{ingredients}">
                    Ingredient Error
                </span>
            </div>
            <div class="grid">
                <div class="ingredient-group mb-1" id="wraps">
                    <h3>Design your wrap:</h3>
                    <div th:each="ingredient : ${wrap}" class="form-group">
                        <label>
                            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" class="form-check-input">
                            <span th:text="${ingredient.name}">INGREDIENT</span>
                        </label>
                        <br/>
                    </div>
                </div>

                <div class="ingredient-group mb-1" id="proteins">
                    <h3>Pick your protein:</h3>
                    <div th:each="ingredient : ${protein}" class="form-group">
                        <label>
                         <input name="ingredients" type="checkbox" th:value="${ingredient.id}" class="form-check-input">
                          <span th:text="${ingredient.name}">INGREDIENT</span>
                        </label>
                        <br/>
                    </div>
                </div>

                <div class="ingredient-group mb-1" id="cheeses">
                    <h3>Choose your cheese:</h3>
                    <div th:each="ingredient : ${cheese}" class="form-group">
                        <label>
                            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" class="form-check-input">
                            <span th:text="${ingredient.name}">INGREDIENT</span>
                        </label>
                        <br/>
                    </div>
                </div>

                <div class="ingredient-group mb-1" id="veggies">
                    <h3>Determine your veggies:</h3>
                    <div th:each="ingredient : ${veggies}" class="form-group">
                        <label>
                            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" class="form-check-input">
                            <span th:text="${ingredient.name}">INGREDIENT</span>
                        </label>
                        <br/>
                    </div>
                </div>

                <div class="ingredient-group mb-1" id="sauces">
                    <h3>Select your sauce:</h3>
                    <div th:each="ingredient : ${sauce}" class="form-group">
                        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" class="form-check-input">
                        <span th:text="${ingredient.name}">INGREDIENT</span>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="mt-1">
                <h3 class="display-5">Name your creation</h3>

                <div class="form-group">
                    <input type="text" th:field="*{name}" class="form-control" />
                </div>

                <span
                    class="validationError"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                >
                    Name error
                </span>
                <br/>

                <button type="submit" class="btn btn-info btn-lg">Submit your taco</button>
            </div>

        </form>
    </div>
</main>
</body>
</html>