<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles/vendor/bootstrap4.5.3/bootstrap.min.css}">
    <script th:scr="@{/js/vendor/jquery3.5.1/jquery-3.5.1.slim.min.js}" defer></script>
    <script th:src="@{/js/vendor/bootstrap4.5.3/bootstrap.bundle.min.js}" defer></script>
</head>
<body>
    <main class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to...</h1>
            <img th:src="@{/images/TacoCloud.png}" />

            <a class="btn btn-primary btn-lg" th:href="@{/design}" id="design" role="button">Design your taco</a>
        </div>
    </main>
</body>
</html>