<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles/vendor/bootstrap4.5.3/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
    <script th:src="@{/js/vendor/bootstrap4.5.3/bootstrap.bundle.min.js}" defer></script>
</head>

<body>
<main class="jumbotron jumbotron-fluid">
    <div class="container">

        <form method="post" th:action="@{/orders}" th:object="${order}">

            <h1 class="display-5">Order your creations!</h1>

            <img th:src="@{/images/TacoCloud.png}" />
            <a th:href="@{/design}" id="another" class="btn btn-info">Design another taco</a><br/>

            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Please correct the problems below and resubmit.
                </span>
            </div>

            <h3>Deliver my taco masterpieces to...</h3>

            <div class="form-group">
                <label for="tacos-name">Name: </label>
                <input type="text" class="form-control" th:field="*{name}" id="tacos-name"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">
                    Name error
                </span>
            </div>

            <div class="form-group">
                <label for="street">Street: </label>
                <input type="text" class="form-control" th:field="*{street}" id="street"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('street')}"
                      th:errors="*{street}">
                    Street error
                </span>
            </div>

            <div class="form-group">
                <label for="city">City: </label>
                <input type="text" class="form-control" th:field="*{city}" id="city"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('city')}"
                      th:errors="*{city}">
                    City error
                </span>
            </div>

            <div class="form-group">
                <label for="state">State: </label>
                <input type="text" class="form-control" th:field="*{state}" id="state"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('state')}"
                      th:errors="*{state}">
                    State error
                </span>
            </div>

            <div class="form-group">
                <label for="zip">Zip code: </label>
                <input type="text" class="form-control" th:field="*{zip}" id="zip"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('zip')}"
                      th:errors="*{zip}">
                    Zip code error
                </span>
            </div>

            <h3>Here's how I'll pay...</h3>

            <div class="form-group">
                <label for="ccNumber">Credit card #: </label>
                <input type="text" th:field="*{ccNumber}" id="ccNumber"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccNumber')}"
                      th:errors="*{ccNumber}">
                    Credit card number error
                </span>
            </div>

            <div class="form-group">
                <label for="ccExpiration">Expiration: </label>
                <input
                            type="text"
                            th:field="*{ccExpiration}"
                            id="ccExpiration"
                />
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccExpiration')}"
                      th:errors="*{ccExpiration}">
                    Credit card date expiration error
                </span>
            </div>

            <div class="form-group">
                <label for="ccCVV">CVV: </label>
                <input type="number" th:field="*{ccCVV}" id="ccCVV" min="0" max="999"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccCVV')}"
                      th:errors="*{ccCVV}">
                    Credit card CVV error
                </span>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">
                Submit order
            </button>
        </form>

    </div>
</main>
</body>

</html>